.profile-status {
    -fx-background-radius: 4, 3, 2;
}

.profile-status.online {
    -fx-background-color:
        linear-gradient(#C9CCC9, #EAFFEB),
        linear-gradient(#87C98B 0%, #89E78F 49%, #64CC64 50%, #32DE3D 100%);
}

.profile-status.offline {
    -fx-background-color:
        linear-gradient(#CDCDCD, #CFCFCF),
        linear-gradient(#DADADA 0%, #CACACA 49%, #AFAFAF 50%, #9A9A9A 100%);
}

.profile-status.away {
    -fx-background-color:
        linear-gradient(#FFFEFB, #FFF8EA),
        linear-gradient(#FFD9AB 0%, #FFD697 49%, #FFCD7D 50%, #FF993A 100%);
}

.profile-status.busy {
    -fx-background-color:
        linear-gradient(#FFFBFB, #FFEAEB),
        linear-gradient(#FFABAB 0%, #FE9699 49%, #FF7D7D 50%, #FB3947 100%);
}